  .titulo {
    text-align: $textoPrimario
  }
  .subtitulo {
    text-align: $textoPrimario;
    font-family: Arial, Helvetica, sans-serif;
  }
  .imagenPaletsApilados {
    margin-left: 20vh;
  }
  .textoIndex {
    text-align: $textoPrimario;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .infoPagina {
    background-color: bisque;
  }
  /* seguir revisando para que funcione la imagen */

  /*   @media screen and (max-width: 350px){
    .imagenPaletsApilados {
      width: 100px;
      /* margin-left: 0%; */
 /*      text-align: $textoPrimario;
    }
  }
  
  @media screen and (max-width: 350px) {
    .imagenPaletsIndex {
      max-width: 200px;
    }
  } */ 