  .titulo {
    text-align: $textoPrimario
  }
  .subtitulo {
    text-align: $textoPrimario;
    font-family: Arial, Helvetica, sans-serif;
  }
  .imagenPaletsApilados {
    margin-left: 20vh;
  }
  .textoIndex {
    text-align: $textoPrimario;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .infoPagina {
    background-color: bisque;
  }