.tarjetas {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.botonTarjeta {
    display: flex;
    justify-content: center;
    border: solid 5px greenyellow;
    color: black;
}

.card-body {
    background-color: blanchedalmond
}

.descripcion {
    text-align: inherit;
    font-size: larger;
    border: solid 1px black;
}
.descripcionIndustrial{
    @extend .descripcion;
}
.descripcionAmericano{
    @extend .descripcion;
}
.descripcionEuro{
    @extend .descripcion;
}
.tituloProducto{
    font-size: 25px;
    text-align: center;
  }
  .subtituloProducto{
    font-size: 20px;
  }
  .paletAmericano{
    flex-direction: row-reverse;
  }
