* {
  margin: 0;
  justify-content: space-between;
}

.navbar {
  background-image: linear-gradient(to right, green, greenyellow, yellow );
  }



/* .navbar {
  background-image: linear-gradient(to right, green, greenyellow, yellow );
  }
 */
/* .logo{
>>>>>>> empezandoScss
  grid-column: 1/3;
  grid-row: 1/3;
} */
/* .encabezado {
  color: rgb(2, 127, 230);
  font-family:
    Arial, Helvetica, sans-serif;
  text-align:
    center;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 2;
    grid-column: 3;
    flex: auto;
    flex-direction: column-reverse;
    place-self: flex-end;
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: infinite;
<<<<<<< HEAD
}
@keyframes aparecer{
=======
} */
/* @keyframes aparecer{
>>>>>>> empezandoScss
  0%{ opacity: 0;}
  100%{
    opacity: 1;
  }
<<<<<<< HEAD
}git
.collapse {
=======
} */
/* .collapse {
>>>>>>> empezandoScss
  justify-content: end;
  font-family: cursive;
  font-size: 20px;
}
 */
/* .navegador {
  font-family: cursive;
  justify-content: end;
  height: 55px;
  margin: 0;
} */
/* .nav{
  grid-column: 6/8
} */
/* .titulo {
  text-align: center;
} */

/* .subtitulo {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
} */

/* .imagenPaletsApilados {
  margin-left: 30%;
} */

/* .textoIndex {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} */

/* .redes {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
<<<<<<< HEAD
}

.redesInline {
=======
} */

/* .redesInline {
>>>>>>> empezandoScss
  display: inline;
  text-align: center;
} */

/* .infoPagina {
  background-color: bisque;
} */

/* .fondoFooter {
  display: flow-root;
  background-image: linear-gradient(to left, green,green, greenyellow , yellow);
} */

.imagen-galpon {
  background-image: url(./imagenes/galpon-provisorio.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  height: 300px;
  width: 1400px;
  background-size: cover;
}
/* Header */
.fondoHeader {
   background-color: greenyellow;
   display: grid;
}
@media screen and (max-width: 780px) {
  .fondoHeader {
    background-color: greenyellow;
  }
  
}

@media screen and (max-width: 780px) {
  .navegador {
    flex-direction: column;
    display: contents;
  }
}

@media screen and (max-width: 350px) {
  .encabezado {
    display: none;
  }
  .fondoHeader{
    background-color: greenyellow;
  }
}
/* Index */

/* @media screen and (max-width: 350px){
  .imagenPaletsApilados {
    width: 200px;
    margin-left: 0%;
  }
}

@media screen and (max-width: 350px) {
  .imagenPaletsIndex {
    max-width: 200px;
  }
} */
/* Productos */
/* .tarjetas{
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}
.botonTarjeta{
  display: flex ;
  justify-content: center;
  border: solid 5px greenyellow;
  color: black;
}
.card-body{
  background-color: blanchedalmond
}
 */
@media screen and (min-width: 768px) {
  .paletEuro {
    display: flex;
    align-items: center;
  }
}
.card-title{
  text-align: center;
}
@media screen and (min-width: 768px) {
  .paletAmericano {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .paletIndustrial {
    display: flex;
    align-items: center;
  }
}